/**
  基础设置
 */
.container {
    width: 1190px;
    margin: 0 auto;
}

.container_top {
    width: 1190px;
    margin: 0 auto;
}

.topbar {
    height: 50px;
    background: #ECECEC;
    line-height: 50px;
}

.welcome span, .welcome a{
    font-size: 12px;
}

.welcome-tip {
    margin-right: 28px;
}

.spliter {
    margin: 0 10px;
}

.topbar-nav {
    font-size: 12px;
}

.topbar-nav ul li {
    float: left;
}

.topbar-nav ul li a {
    padding: 0 15px;
    border-right: 1px solid #666;
}

.topbar-nav ul li:first-child a {
    padding-left: 0;
}

.topbar-nav ul li:last-child a {
    padding-right: 0;
    border:0;
}

/**
 头部
 */
.header {
    height: 120px;
    background-color: white;
}

.logo {
    font-size: 12px;
}

.container_header {
    width: 1190px;
    margin: 0 auto;
}

.header .search form {
    margin-top: 42px;
    font-size: 0;
}

.header .search input {
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;
}

/*
  修改背景图片为不重复 并且背景图片居中
 */
.header .search button {
    width: 80px;
    height: 34px;
    background-color: #DD302D;
    vertical-align: middle;
    background-image: url('../images/serch_icon.png');
    background-repeat: no-repeat;
    background-position: center;
}

/*
  主导航
 */
.main-nav {
    height: 48px;
    border-bottom: 1px solid #DD302D;
}

.main-nav .all-types {
    height: 48px;
    width: 190px;
    line-height: 48px;
    background-color: #DD302D;
    text-align: center;
    color: white;
    font-size: 16px;
}

.main-nav-list li {
    float: left;
    line-height: 48px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
}